# .env
# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=departments_db

# Test database configuration (optional, defaults provided in config)
DB_TEST_HOST=localhost
DB_TEST_PORT=5432
DB_TEST_USER=postgres
DB_TEST_PASSWORD=postgres
DB_TEST_NAME=test_db

# Application settings
APP_NAME=Departments FastAPI
mode=DEV  # DEV, PROD, TEST